
body{
  background-color: rgb(43, 43, 43);
}

.map-plain{
  width: 800px;
  height: 950px;
  position: relative;

  z-index: 2;
}

.map-img{
  width: 100%;
  z-index: 1;
}

.site-marker-container{
  width: 41px;
  height: 41px;

  border: 3px solid rgb(158, 0, 0);
  border-radius: 100%;

  position: absolute;
}

.tools{
  width: 400px;
  height: 930px;
  padding:40px;
  border: 0px solid rgb(63, 63, 63);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.content-container{
  width: 100%;
  height: 930px;
  border: 0px solid rgb(63, 63, 63);

  display: flex;
  justify-content: center;
}

.issue-type-container{
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin-top: 15px;

  width: 300px;
  height: 100px;
  overflow-y: auto;
  flex-wrap: wrap;
}